<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title has-text-centered">
      Emily Bennett
    </h1>
    <nav class="navbar tabs is-fullwidth">
      <div class="container">
        <ul>
          <li><a>Email</a></li>
          <li><a>Phone</a></li>          
          <li><a>Portfolio link</a></li>          
          <li><a>Github</a></li>
          <li><a>LinkedIn</a></li>
          <li><a>Location</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="is-large">
  <div class="columns">
    <div class="column is-4 is-boxed">
      <div class="container">
        <h1 class="title is-uppercase">Technical Skills</h1>
        <h3 class="subtitle">Languages</h3>
        <p class="is-size-6"><code>JavaScript</code> <code>TypeScript</code> <code>C#</code> <code>Python</code> <code>HTML5</code> <code>CSS3</code> <code>R</code></p>        
      </div>

    </div>
    <div class="column is-boxed">
      <div>
        <h1 class="title is-uppercase">Projects</h1>
        <hr>
      </div>
      <div>
        <h1 class="title is-uppercase">Education</h1>
        <hr>
      </div>
      
    </div>
  </div>
</section>