
<section class="hero is-fullheight" id="hero-main">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1-desktop is-size-1-widescreen">
          Hi, my name is Emily Bennett.
        </h1>
        <h2 class="subtitle is-size-3-desktop">
          I am a Seattle-based web developer :)
        </h2>
      </div>
    </div>
    <a id="about-link"></a>
</section>
  
<section class="section is-large has-background-primary">
    <br>
    <div id="about-columns" class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <div id="about" class="tile is-child is-6 box">
          <h1 class="title">About Me</h1>          
          <div >

            <p class="subtitle">I am a full stack web developer passionate about creating and delivering impactful products to those who need them most.<br></p>

            <p class="subtitle">I have a bachelor’s degree in Molecular, Cellular, and Developmental Biology from the University of Colorado, Boulder. After graduating early, I enrolled in Coding Dojo, a 14-week 1000+ hour immersive bootcamp where I focused on full stack development in Python/Django, C#/.Net Core, and JavaScript/MEAN.<br></p>
                
            <p class="subtitle">I look forward to combining my education in cellular biology with emerging and innovative software technologies. My analytical and critical thinking skills have been fundamental in both my studies in biological sciences and computer programming. I have excellent communication skills and enjoy the process of collaboration with others. I am currently seeking opportunities to join a team and continue to learn, grow my skills and develop solutions to new and complex problems.<br></p>            
          </div>
        </div>
        <div class="tile is-child is-1"></div>
        <div id="tech" class="tile is-child box is-5">
          <h1 class="title">Technical Toolbox</h1>          
          <div class="level-item">

            <p class="subtitle is-size-7">
              <a class="button is-primary">JavaScript</a>
              <a class="button is-primary">TypeScript</a>
              <a class="button is-primary">Python</a>
              <a class="button is-primary">C#</a>          
              <a class="button is-primary">HTML5</a>          
              <a class="button is-primary">CSS3</a>          
              <a class="button is-primary">R</a>          
              <a class="button is-primary">Flask</a>
              <a class="button is-primary">Django</a>
              <a class="button is-primary">Angular6</a>
              <a class="button is-primary">Node.js</a>
              <a class="button is-primary">Express.js</a>
              <a class="button is-primary">ASP.Net Core</a>
              <a class="button is-primary">Entity</a>
              <a class="button is-primary">MongoDB</a>
              <a class="button is-primary">Mongoose</a>
              <a class="button is-primary">MySQL</a>
              <a class="button is-primary">PostgreSQL</a>
              <a class="button is-primary">SQLite</a>
              <a class="button is-primary">Socket.io</a>
              <a class="button is-primary">jQuery</a>
              <a class="button is-primary">Bootstrap</a>
              <a class="button is-primary">Github</a>
              <a class="button is-primary">Postman</a>
              <a class="button is-primary">AWS</a>
              <a class="button is-primary">Azure</a>
            
            </p>            
          </div>
        </div>
      </div>

    </div>
   
</section>
<div>
  <a id="project-link"></a>
</div>

<section id="tile-section" class="section">
   
  <div id="tile-ancestor" class="tile is-ancestor">
    <div class="tile is-4 is-parent">
      <div id="project-tile" class="tile is-child notification">
        <div class="level-item project">
          <h1 class="title has-text-white">DivvyUp</h1>  
        </div>
        
      </div>
      
    </div>
    <div class="tile is-vertical has-text-centered">
        <div class="tile">
          <div class="tile is-parent">
            <a href="https://github.com/eclairebenn/Money-Coach" target="_blank" >
              <div id="money-coach-tile" class="tile is-child notification">
                <div class="level-item project">
                  <p class="title has-text-white">Money Coach</p>              
                </div>
              </div>              
            </a>

          </div>
          <div class="tile is-parent">
            <a href="https://github.com/eclairebenn/Big-Boss" target="_blank">
              <div id="big-boss-tile" class="tile is-child notification">
                <div class="level-item project">
                  <p class="title has-text-white">Big Boss</p>  
                </div>
              </div>              
            </a>

          </div>
        </div>
        <div class="tile is-parent">
          <a href="https://github.com/NickcCosby/SmartTourist" target="_blank">
            <div id="smart-tourist-tile" class="tile is-child notification">
              <div class="level-item project">
                <p class="title has-text-white">Smart Tourist</p>
                <div class="content">
                  <!-- Content -->
                </div>              
              </div>

            </div>            
          </a>

        </div>
      </div>

  </div>
</section>
<section class="section">
  <a id="contact-link"></a>
  <h1 class="title">Contact Me</h1>
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" >
      </div>
    </div>
    
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email">
      </div>
    </div>
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" ></textarea>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>

</section>
<section id="profile-bg" class="section has-background-primary is-medium has-text-centered">
</section>
<section id="foot" class="hero is-medium">
  <div class="hero-body">
    <div class="columns is-tablet">
      <div class="column"></div>
      <div class="column is-paddingless">
        <figure class="image is-square is-centered">
          <img id="img-profile" class="is-rounded" src="https://bn1304files.storage.live.com/y4phs_h4B7YyQrHB8Jq8HZ4t_B39enPdeGjaX4zr9vTSOsVjWa9-ka74HtYu-EYeN0UPZoFIAPTP_aqO1OFZAVjlgsCitmHh7v9UJoFkGKnDG--oHiDFAy3ukiQOHxTGrmpKAv2D8VYLtgDqjZ99_fd97TdwooJ1HSHWVeyKKsPwntzuu9EbY41xRCgNV4x0wFD/Emily%20Linked%20Square.jpg?psid=1&width=1048&height=1047">
        </figure>
      </div>
      <div class="column notification has-text-centered">
        <p class="subtitle">Check me out on these Socials</p>
        <ul>
          <li>
              <span class="icon">
                  <i class="fab fa-github"></i>
              </span>
          </li>
          <li>
              <span class="icon">
                  <i class="fab fa-linkedin"></i>
              </span>
          </li>
        </ul>          
      </div>
      <div class="column"></div>
    </div>
  </div>  
</section>

